//colors
$theme_color: #b0eb00;

$heading_font_size: 30px !default;

$heading_font_size2: 20px !default;

$content_font_size: 16px !default;

$icons_color: white !default;

$icons_size: 30px !default;
