@import '../abstracts//variables.scss';

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentSkeleton {
  width: 80%;
  margin: auto;
}

.topBarIcon {
  position: relative;
  .topBarIconImage {
    font-size: $icons_size;
    color: $icons_color;
    color: $theme_color;
  }
  .topBarIconBadge {
    position: absolute;
    font-size: 15px;
    left: 30px;
    color: #f01414;
    line-height: 14px;
    width: 16px;
    text-align: center;
    border-radius: 15px;
    height: 16px;
    font-weight: bold;
    top: -5px;
  }
}

.tabParent {
  width: 60%;
  min-width: 300px;
  margin: 20px 10px;
  .tabContent {
    margin: 20px 10px;
  }
}

@media (max-width: 750px) {
  .tabParent {
    width: 95%;
  }
}
