@import '../abstracts/variables';
.mainCommentBox {
  //   border: 1px solid black;
  .commentsList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 250px;
    overflow-y: scroll;
    margin-right: 10px;
    padding: 10px 0;
    width: 100%;
    border-radius: 15px;
    background-color: #ececec;
    -webkit-box-shadow: -1px 3px 10px 4px rgba(83, 82, 82, 0.17);
    box-shadow: -1px 3px 10px 4px rgba(83, 82, 82, 0.17);
    margin-bottom: 25px;
    padding: 50px 0;
    box-sizing: border-box;
    .commentsItem {
      background-color: white;
      padding: 10px 5px;
      box-sizing: border-box;
      position: relative;
      border-radius: 5px;
      width: 95%;
      margin: 5px auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 50px;
      box-sizing: border-box;
      .commentsItemDetail {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex: 0.9;
        div:last-child {
          flex: 0.95;
        }
      }
      .commentsItemEdit {
      }
      .likeDislike {
        position: absolute;
        display: flex;
        bottom: 10px;
        font-size: 12px;
        align-items: center;
        justify-content: space-between;
        width: 30px;
        .thumbUp {
          background-color: $theme_color;
          color: white;
          padding: 4px;
          border-radius: 18px;
          font-size: 10px;
          cursor: pointer;
        }
        .thumbDown {
          background-color: grey;
          color: white;
          padding: 4px;
          border-radius: 18px;
          font-size: 12px;
          cursor: pointer;
        }
      }
    }
  }
  .commentsInput {
    -webkit-box-shadow: -1px 3px 10px 4px rgba(83, 82, 82, 0.17);
    box-shadow: -1px 3px 10px 4px rgba(83, 82, 82, 0.17);
    border-radius: 5px;
    width: 100%;
    margin: 5px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    .commentsInputIcon {
      margin-left: 5px;
    }
    .input {
      width: 90%;
      margin: 15px 5px;
      border-color: #c1d5e6;
      border: 'none';
      background: white;
    }
    .buttonEnd {
      text-transform: none;
      color: white;
      background: green;
      padding: 5px 25px;
      margin-right: 5px;
    }
  }
}
