.mainCommentBox {
  //   border: 1px solid black;
  .commentsList {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    max-height: 200px;
    overflow-y: scroll;
    margin-right: 10px;
    padding: 10px 0;
    width: 100%;
    border-radius: 15px;
    background-color: #ececec;
    -webkit-box-shadow: -1px 3px 10px 4px rgba(83, 82, 82, 0.17);
    box-shadow: -1px 3px 10px 4px rgba(83, 82, 82, 0.17);
    margin-bottom: 25px;
    .commentsItem {
      background-color: white;
      padding: 10px 5px;
      box-sizing: border-box;

      border-radius: 5px;
      width: 95%;
      margin: 5px auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .commentsItemDetail {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex: 0.9;
        div:last-child {
          flex: 0.95;
        }
      }
      .commentsItemEdit {
      }
    }
  }
  .commentsInput {
    -webkit-box-shadow: -1px 3px 10px 4px rgba(83, 82, 82, 0.17);
    box-shadow: -1px 3px 10px 4px rgba(83, 82, 82, 0.17);
    border-radius: 5px;
    width: 95%;
    margin: 5px auto;
  }
}
