@import '../abstracts/variables';
.createFeed {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  -webkit-box-shadow: -1px 3px 10px 4px rgba(83, 82, 82, 0.17);
  box-shadow: -1px 3px 10px 4px rgba(83, 82, 82, 0.17);
  border-radius: 10px;
  .input {
    width: 100%;
    margin: 15px 0px;
    border-color: #c1d5e6;
    border: 'none';
    background: white;
  }
  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .icon {
      width: 50px;
      height: 50px;
    }
    .placeholder {
      margin-left: 10px;
      color: grey;
    }
    .error {
      margin-left: 100px;
      color: red;
      font-weight: bold;
      font-size: 14px;
    }
  }
  .bottom {
    width: 100%;
    margin: 15px 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    .start {
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
    }
    .bottomButtons {
      .start {
        display: flex;
        flex-direction: row;
      }
    }
    .labelMain {
      text-transform: none;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      min-width: 140px;
    }
    .button {
      text-transform: none;
    }
    .buttonEnd {
      text-transform: none;
      color: white;
      background: green;
      padding: 5px 25px;
      margin-left: 20px;
    }
  }
  .feedButtonMessage {
    font-size: 12px;
    color: gray;
    margin-left: 20px;
    margin-bottom: 20px;
    .cancel {
      margin-left: 5px;
      font-weight: bold;
      color: red;
      cursor: pointer;
    }
  }
}
