@import '../abstracts/variables';
.notifications {
  display: flex;
  flex-direction: column;
  .item {
    border-radius: 10px;
    color: white;
    padding: 15px;
    background-color: $theme_color;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .start {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      .icon {
        width: 35px;
        height: 35px;
        margin-right: 30px;
        border-radius: 20px;
      }
    }
  }
}
